---
---

@import "{{ site.theme }}";

// div.wrapper is used by Modernist
// .inner is more common
//	body > div.wrapper , 
.inner {
  width: 75%;
}

// Modernist
//	pre {
//		margin: 5px;
//		border-radius: 0.3rem;
//	}


//	Cayman
body > section.page-header {
	padding: 1pt;
}
//	the tagline is the github project description
body > section.page-header > h2.project-tagline {
	display: none;
}
body > section.main-content {
	max-width: 100rem;
}
